.container-fluid{
    width: 100vw;
    height: 100vh;
    display:flex;
    background:pink;
    overflow:hidden;
    position:relative;
   }
  
  .color1{
    background: #6befa3;
    width:100%
  }
  
  .color2{
    background:#efefef;
    position:absolute;
    border-radius: 50%;
    top:-50%;
    right:-50%;
    width:120%;
    height: 200%
  }